* {
	margin: 0;
	padding: 0;
	font-family: "Times New Roman", "黑体";
}

a {
	text-decoration: none;
	font-size: 14px;
	color: #333;
}

input {
	padding-left: 10px;
	border-radius: 5px;
}

body {
	background: #a7cbf1;
}

.wrapper {
	margin: 20px auto;
	position: relative;
}


.RegWelcom {
	width:300px;
	margin:50px 0 0 50px;
}
.RegWelcom a {
	display: block;
	margin-bottom: 50px;
	text-decoration: none;
	width: 97px;
}

.RegWelcom a img {
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 97px;
	height: 97px;
}

.RegWelcom a span {
	text-align: center;
	width: 97px;
	display: block;
	height: 30px;
	font: 16px/30px "";
}

.register {
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 20px;
	left: 360px;
	border-radius: 5px;
	padding: 50px;
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
	height: 400px;
} 


.normal {
	position: relative;
	height: 140px;
}

.p_number,.p_name,.p_sex,.p_age,.p_tel,.extraMoney,.departments,.doctors
	{
	width: 250px;
	margin-bottom: 10px;
	position: absolute;
	overflow: hidden;
	clear: both;
}

.p_number {
	top: 20px;
	left: 50px;
}

.p_name {
	top: 60px;
	left: 50px;
}

.p_sex {
	top: 60px;
	left: 450px;
}

.p_age {
	top: 100px;
	left: 50px;
}

.p_tel {
	top: 100px;
	left: 450px;
}

.departments {
	top: 20px;
	left: 350px;
}

.doctors {
	top: 20px;
	left: 500px;
}

#doctor {
	width: 100px;
}

.p_number span,.p_name span,.p_sex span,.p_age span,.p_tel span,.departments span,.doctors span
	{
	float: left;
	width: 60px;
	height: 25px;
	font-size: 13px;
	line-height: 26px;
	text-align: center;
}

.p_name input,.p_sex select,.p_age input,.p_number input,.p_tel input {
	float: left;
	width: 180px;
	padding: 5px 0;
	font-size: 14px;
}

.more {
	position: relative;
	height: 140px;
	width: 450px;
	overflow: hidden;
}

.departments {
	position: absolute;
	top: 30px;
	left: 50px;
}

.doctors {
	position: absolute;
	top: 90px;
	left: 50px;
}

.count {
	position: absolute;
	font-size: 12px;
	color: red;
	top: 92px;
	left: 200px;
}

.sub input {
	float: right;
	border: none;
	width: 130px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	background-color: #61d1ed;
	margin-right: 70px;
	margin-top: -70px;
}

.sub input:hover {
	background: #58bded;
}